@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #eeeeee;
  --bg-light: #cbcdcd;
  --text: #41474e;
  --text-light: #646868;
  --accent: #d26878;
  --accent-light: #e08f67;
  --link: #5690af;
  --red: #d26878;
  --dimRed: #623039;
  --orange: #e08f67;
  --dimOrange: #926048;
  --yellow: #fffae1;
  --dimYellow: #d5c5a1;
  --green: #56afa0;
  --dimGreen: #22453f;
  --blue: #5690af;
  --dimBlue: #223844;
  --purple: #9271d6;
  --dimPurple: #47356c;
  --grey: #cbcdcd;
  --dimGrey: #646868;
}

.dark {
  --bg: #222529;
  --bg-light: #464949;
  --text: #d6d6d6;
  --text-light: #dbd5bc;
  --accent: #78b6ad;
  --accent-light: #87c9e5;
  --link: #e2aea2;
  --red: #cd909b;
  --dimRed: #684249;
  --orange: #e2aea2;
  --dimOrange: #704941;
  --yellow: #dbd5bc;
  --dimYellow: #6f6847;
  --green: #78b6ad;
  --dimGreen: #3e615c;
  --blue: #87c9e5;
  --dimBlue: #38494f;
  --purple: #b07cf3;
  --dimPurple: #5e406a;
  --grey: #cbcdcd;
  --dimGrey: #464949;
}
